<div class="container solution">
    <div class="row">
        <div class="col-xs-12">
            <h3>My solution :</h3>
            <p>In order to split my application, I decided to create 2 additional components (instructions and solution).<br> I then played with the different possible selectors for my WarningAlert and successAlert components.<br> For each of my components,
                the html code is in a separate file because they contain more than 3 lines.<br> I did not encounter any problems during this exercise</p>
            <div class="app-warning-alert"></div>
            <div app-success-alert></div>
        </div>
    </div>
</div>